useDynLib(hierbasis2)

importFrom(Rcpp, evalCpp)
import(Matrix)

export(hierbasis, print.hierbasis, predict.hierbasis,
       cv.hierbasis, plot.cv.hierbasis,
       additivehierbasis, predict.additivehierbasis,
       cv.additivehierbasis, plot.cv.additivehierbasis)
