useDynLib(hierbasis2)

importFrom(Rcpp, evalCpp)
import(Matrix)

export(hierbasis, print.hierbasis, predict.hierbasis, coef.hierbasis,
       cv.hierbasis, predict.cv.hierbasis,
       coef.cv.hierbasis, plot.cv.hierbasis,
       additivehierbasis, predict.additivehierbasis, coef.additivehierbasis,
       cv.additivehierbasis, predict.cv.additivehierbasis,
       coef.cv.additivehierbasis, plot.cv.additivehierbasis)
